:root {
	--select-text-bg-color: #B5D6FC;
	/**/
	--select-text-font-color: auto;
	/**/
	--defalt-font: 'consolas', "yan";
	--defalt-body-bgc: blanchedalmond;
	--deep-blue: #00459f;
	--orange: #FF9500;
}


@font-face {
	font-family: "yan";
	src: url("../fonts/颜真卿颜体.ttf");
}

@font-face {
	font-family: "consolas";
	src: url("../fonts/consolas.ttf");
}

html {
	/* px 表示“像素（pixels）”: 基础字号为 10 像素 */
	font-size: 20px;
	background: linear-gradient(60deg, var(--deep-blue), #00659f);
}

.selectPage {
	margin: auto;
	position: absolute;
	height: fit-content;
	border: 5px solid var(--orange);

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 20px;
}

body {
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	background-color: var(--defalt-body-bgc);
	padding: 0 20px 0px 20px;
}

body,
html {
	height: 100%;
}

body {
	animation: fadeIn ease 1s;
	animation-iteration-count: 1;
	/*设置动画播放次数*/
	animation-fill-mode: forwards;
	/*设置样式以在动画不播放时应用元素。forward是设置动画结束后，使用元素的结束属性值*/
}

* {
	font-family: 'consolas';
}

h1 {
	font-family: Arial, "yan";
	margin: 0;
	padding: 20px 0;
	color: var(--deep-blue);
	text-shadow: 3px 3px 3px black;
	font-size: 70px;
	text-align: center;
}

h2 {
	font-family: var(--defalt-font);
	font-size: 50px;
}

li {
	font-size: 16px;
	/* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
	line-height: 2;
	/*letter-spacing: 1px;*/
}


button {
	font-family: var(--defalt-font);
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	text-align: center;
	border: 0px solid rgb(203, 185, 158);
	background: #111122;
	border-radius: 10px;
	padding: 3px 10px;
	/*字和框的间距*/
	display: inline-block;
	cursor: pointer;
	font-size: 30px;
	transition: all 0.5s;
	margin-bottom: 10px;
	color: blanchedalmond;
}

button:hover {
	box-shadow: 0px 3px 7px rgba(0, 255, 0, 1);
}

img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

input {
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	color: black;
	font-size: 30px;
	transition: all 0.2s;
}

input[type='submit'] {
	cursor: pointer;
	font-family: var(--defalt-font);
}

input[type='submit']:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 50, 1);
	background: rgba(0, 256, 256, 0.5);
}

.copyright {
	text-align: center;
	font-size: 1%;
	/*这里有bug*/
	position: fixed;
	left: 0px;
	bottom: 3px;
	width: 100%;
}

.selectPage .copyright {
	color: var(--orange);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	/*-webkit-box-shadow: inset 0 0 5px gray;*/
	background: var(--orange);
}

/*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 5px gray;
	border-radius: 10px;
	background: white;
}*/

#threebody {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}