button:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 50, 1);
	background: rgba(0, 256, 256, 0.5);
}

@font-face {
	font-family: "yan";
	src: url("../fonts/颜真卿颜体.ttf");
}

button {
	font-family: "georgia", "yan";
}

button {
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	text-align: center;
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	/*color: rgba(0, 0, 200, 0.6);*/
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	/*字和框的间距*/
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 30px;
	transition: all 0.2s;
}

html {
	/* px 表示“像素（pixels）”: 基础字号为 10 像素 */
	font-size: 20px;
	background-color: #00539f;
}

body {
	width: 50%;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 3px solid black;
}

h1 {
	font-family: Arial, "yan";
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 3px black;
	font-size: 70px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

h2 {
	font-family: Arial, "yan";
	font-size: 50px;
}

input {
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	color: black;
	font-size: 30px;
	transition: all 0.2s;
}

input[type='submit'] {
	cursor: pointer;
	font-family: "georgia", "yan";
}

input[type='submit']:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 50, 1);
	background: rgba(0, 256, 256, 0.5);
}