.form input[type="number"] {
	width: 200px;
}

.lastResult {
	color: black;
	padding: 3px 3px;
	border-radius: 5px;
}

.guessSubmit {
	font-family: "georgia", "yan";
}

.guessSubmit:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 50, 1);
	background: rgba(0, 256, 256, 0.3);
}