.form input[type="number"] {
	width: 200px;
}

.lastResult {
	color: black;
	padding: 3px;
}

.guessSubmit,
.guessField {
	/*font-family: "georgia", "yan";*/
	/*text-align: center;*/
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	/*color: rgba(0, 0, 200, 0.6);*/
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	/*字和框的间距*/
	display: inline-block;
	cursor: pointer;
	color: black;
	/*font-size: 30px;*/
	transition: all 0.2s;
	font-size: 30px;
}

.guessSubmit {
	font-family: "georgia", "yan";
}

.guessSubmit:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 50, 1);
	background: rgba(0, 256, 256, 0.3);
}