li {
	font-size: 16px;
	/* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
	line-height: 2;
	/*letter-spacing: 1px;*/
}

.copyright {
	text-align: center;
	font-size: 1%;
	/*这里有bug*/
	position: fixed;
	left: 0px;
	bottom: 3px;
	width: 100%;
}

#github {
	position: fixed;
	left: 3px;
	top: 3px;
}

#getin {
	display: block;
	border-radius: 15px;
	margin: 0 auto;
	font-size: 40px;
}