img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

li {
	font-size: 16px;
	/* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
	line-height: 2;
	letter-spacing: 1px;
}

.copyright {
	text-align: center;
	font-size: 1%;
	/*这里有bug*/
	position: fixed;
	left: 0px;
	bottom: 3px;
	width: 100%;
}

#name {
	font-family: Arial, '宋体';
	position: fixed;
	right: 3px;
	top: 3px;
	border: 0px solid rgba(0, 200, 0, 0.6);
	background: rgba(0, 200, 0, 1);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	color: black;
	font-size: 20px;
	transition: all 0.35s;
}

#github {
	position: fixed;
	left: 3px;
	top: 3px;
}

#name:hover {
	box-shadow: 3px 3px 5px rgb(0, 0, 50);
	background: #FF9500;
}

#getin {
	display: block;
	margin: 0 auto;
	font-size: 40px;
}