img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

li {
	font-size: 16px;
	/* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
	line-height: 2;
	letter-spacing: 1px;
}

.copyright {
	bottom: 0%;
}