html {
    background-color:blanchedalmond ;
}

.output {
    border: 1px solid;
    min-height: 20%;
    letter-spacing: 0.5px;
}

textarea {
    letter-spacing: 0.5px;
    font-size: 20px;
    width: calc(100% - 6px);
    resize: vertical;
}